.title-med-info{
    text-align: center;
    /* width: 100%; */
    background-color: rgb(88, 135, 255);
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 15px;
    

}
.regularMaintenance-info-block{
    margin-top: 2vh;
    position: relative;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    padding: 1vw 1vh;
    border: 2px blue solid;
    z-index: 3;

}
.pen-to-square-icon-med {
    width: fit-content;
    height: fit-content;
    position:absolute;
    right:2vw;
    font-size:25px;
    z-index: 3;
}
.pen-to-square-icon-med :hover {
    cursor: pointer;
    color: gray;
}