.loginForm{
    min-height: 100%;
    width: 30vw;
    padding: 20px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.outer-sign-in {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 132, 255, 0.477);
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgound{
    height: 100%;
    width: 55vw;
}
.submitBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.closeBtn{
    font-size: 30px;
    float: right;
    position: relative;
    left: 10px;
    bottom: 15px;
    color: black;
    transition: color 0.3s;
}
.closeBtn:hover{
    cursor: pointer;
    color: gray;
}
.eye-icon {
    /* top: 0; */
    position: absolute;
    right: 2vw;
    top: 4.7vh;
}