.searchBlock{
    display: inline-block;
    height: 5vh;
    width: fit-content;
    position: relative;
    top: 11vh;
    left: 17vw;
    z-index: 20;
    transform: translate(-100%,0);
    
}
.search-filter{
    border: 1px red solid;
    height: fit-content;
}
.searchIcon{
    position: relative;
    top: 16%;
    color: black;
    font-weight: 1px;
    box-sizing: border-box;
    font-size: 25px;
    padding: 5px;
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out, color 0.2s ease-in-out ;
}

.searchIcon:hover {
    cursor: pointer;
    color: rgb(26, 98, 255);
}

.searchIcon.active {
    transform: translateX(8vw) ;
}

.searchInput{
    display: inline-block;
    height: 4vh;
    position: relative;
    transform: translate(-40%,15%) ;
    border-radius: 10px;
    border: 1px rgb(216, 230, 255) solid;
    width: 0vw;
    visibility: hidden; 
    opacity: 0;
    transition: all  0.5s  ease-in-out; 
}

.searchInput.active{
    visibility: visible; 
    width: 17vw;
    opacity: 1;
}
.search-error {
    position: absolute;
    left: 10vw;
    top: 25vh;
    text-align: center;
    align-items: center;
    width: 20vw;
    z-index: 10;
}
.filter-block{
    border: 1px red solid;
    position: relative;
    /* left: ; */
    top: 10vh;
}